<div class="container">
  <h1>Stupid Coach</h1>
<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->
  <h2>Ask your coach anything:</h2>
  <form action="/answer" method="get" id="form-question">
    <input type="text" name="question" placeholder="What is your question?" id="user-question"><input type="submit" value="Ask" id="btn-question">
  </form>
</div>
